.videos-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 40px;
	column-gap: 8px;
	width: 100%;
}

@media (max-width: 750px) {
	.videos-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 751px) and (min-width: 999) {
	.videos-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	.videos-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.video-preview {
	width: 100%;
	margin-top: 0;
	
}

.video-info {
	display: grid;
	grid-template-columns: 36px 1fr;
	margin-top: 8px;
	column-gap: 13px;
}

.thumbnails {
	width: 100%
}

.profile {
	width: 100%;
	border-radius: 50%;
}

.profile-info {
	position: relative;
}

.profile-info .tooltip {
	position: absolute;
	z-index: 5;
	display: grid;
	grid-template-columns: 42px 1fr;
	background: white;
	padding: 8px 10px;
	white-space: nowrap;
	column-gap: 10px;
	border-radius: 2px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.15s;
}

.profile-info:hover .tooltip {
	opacity: 1;
}

.tooltip img{
	width: 100%;
	border-radius: 50%;
}

.subs-info .name{
	font-size: 14px;
	color: black;
	font-weight: bold;
	margin: 0 0 3px 0;
}

.subs-info .count {
	font-size: 12px;
}

.title {
	font-weight: bold;
	font-size: 16px;
	margin-top:0;
	margin-bottom: 10px;
}

.name,
.count {
  color: rgb(96,96,96);
  font-size: 12px;
}

.video-t {
	position: relative;
}

.video-time {
	position: absolute;
	bottom: 8px;
	right: 5px;
	background: black;
	color: white;
	font-size: 12px;
	font-weight: 700;
	padding: 4px;
	border-radius: 2px;
}

.notifications-container {
	position: relative;
}

.notifications-count {
	position: absolute;
	background: rgb(200,0,0);
	top: -2px;
	right: -5px;
	font-size: 11px;
	color: white;
	padding: 2px 5px 2px 5px;
	border-radius: 10px;
}


@media screen and (max-width: 600px) {
	.videos-container {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 10px;
		column-gap:10px;
		max-width: 300px;
	}
	
	.video-preview {
		width: 100%;
	}
	
	body {
		padding: 80px 0 1000px 0;
		margin: 0;
	}
}