.container {
  width: 350px;
  background-color: #191919;
  display: inline-block;
  vertical-align: middle;
}

p {
  color: white;
  font-family: arial;
  padding-left: 20px;
}

.install {
  font-weight: bold;
}

.description {
  font-size: 12px;
  color: rgb(110,110,110);
}