.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: arial;
    color: white;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-bar {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
    color: white;
    box-shadow: 0 0 2.5px rgba(0,0,0,0.5);
}
