.google {
		    width: 250px;
		    display: block;
		    margin: auto;
		  }
			
.input {
      display: block;
      margin: auto;
      width: 90%;
      margin-top: -5;
      outline: 0;
      border: 0;
      border-radius: 15px;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
.button {
  text-align: center;
  margin-top: 20px;
}

button {
  border: none;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 1px;
  font-size: 10px;
  margin-left: 5px;
}
