body {
  background: rgb(25,25,25);
  font-family: arial;
	color: white;
}
		  
button {
  background: transparent;
  height: 100px;
  width: 100px;
  border: 3px solid white;
  border-radius: 50%;
}
		  
.title {
  font: bold 30px arial;
}
		  
button img {
  width: 50px;
}
		 
img {
  width: 50px
}
		 
.resetButton {
  background: white;
  border-radius: 0;
  height: 30px;
  font: bold 15px arial;
}
		 
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	column-gap: 5px;
	}
		 
.result {
	font: bold 25px arial;
}
		 
.moves {
	margin: 0 0 50px 0;
}
